body {
  margin: 2em;
  background: #E8E8E8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

.buttonList {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
}

.RSSFeedList {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
}

.greeting {
  color: grey;
  text-align: center;
}

.notificationList {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.searchBar {
  font-size: 24;
  text-align:center;
}

.settingsButton {
  float: right;
  position: absolute;
  bottom: 20;
}

.settings {
  text-align: center;
}

.settingsPanel {
  margin: auto;
  width: 75%;
  border: 3px solid black;
  padding: 10px;
  background: #E8E8E8;
}








