html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

.buttonList {
  margin: auto;
  width: 100%;
  border: 3px solid blue;
  padding: 10px;
}

.RSSFeedList {
  margin: auto;
  width: 50%;

  padding: 10px;
}

.notificationList {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.searchBar {
  font-size: 24;
  text-align:center;
}

.input-group {
  width: 60%;
  position: relative;
  top: 30%;
  margin: 10 auto;
}

.input-group-btn {
  bottom: 8px;
}

.settingsButton {
  float: right;
  position: fixed;
  bottom: 20;
  left: 20;
}

.settings {
  text-align: center;
}

.settingsPanel {
  position: fixed;
  bottom: 75px;
  left: 75px;
  margin: auto;
  width: 75%;
  padding: 10px;
  z-index:100;
}

.rssF1 {
 height: 50px;
 overflow: hidden;
 position: relative;
 z-index: 10;
}
.rssF1 {
 position: absolute;
 width: 100%;
 height: 40px;
 margin: -20;
 line-height: 50px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: rssF1 13s linear infinite;
 -webkit-animation: rssF1 13s linear infinite;
 animation: rssF1 13s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rssF1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes rssF1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes rssF1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 27px;
}

.slider.round:before {
  border-radius: 50%;
}

.UISlider {
  float: left;
  position: fixed;
  bottom: 20;
  right: 24;
}

.ButtonListContainer {
  width: 60%;
  text-align: center;
  white-space: nowrap;
  margin: auto;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
}

.NavButtonContainer {
  width: 97%;
  padding: 20px;
  white-space: nowrap;
  overflow-x: auto;
  margin: 10 auto;
}

.NavButton {
  margin: 9px;
  display: inline-block;
}

.RSSHolder {
  height: 61px;
  z-index: 10;
  position: relative;
}

.SearchBar {
  position: absolute;
  top: 35%;
}

.setPadding {
  margin: 15px;
}

.listenBox {
  height: 45px;
  width: 45px;
  float: right;
  position: fixed;
  bottom: 0;
  left: 0;
  border: red dotted 1px;
}

.logo {
  height: 61px;
  width: 140px;
  top: 61px;
  left: 0;
  z-index: 1;
}

.swick {
  background: url('swick_logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.rssF12 {
 height: 50px;
 overflow: hidden;
 position: relative;
 z-index: 10;
}
.rssF12 {
 position: absolute;
 width: 100%;
 height: 40px;
 margin: 10;
 line-height: 50px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: rssF1 17s linear infinite;
 -webkit-animation: rssF1 17s linear infinite;
 animation: rssF1 17s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rssF12 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes rssF12 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes rssF12 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#stage {
  margin: 1em auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotatingImage {
  -webkit-animation: spin 4s linear infinite; 
  -moz-animation: spin 4s linear infinite; 
  animation: spin 4s linear infinite;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.logoText {
  width: 80px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.AboutBTN {
  position: absolute;
  bottom: 20px;
  left: 48%;
}