body {
  margin: 2em;
  background: #E8E8E8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

.buttonList {
  margin: auto;
  width: 100%;
  border: 3px solid blue;
  padding: 10px;
}

.RSSFeedList {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
}

.notificationList {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.searchBar {
  font-size: 24;
  text-align:center;
}

.settingsButton {
  float: right;
  position: absolute;
  bottom: 20;
}

.settings {
  text-align: center;
}

.settingsPanel {
  margin: auto;
  width: 75%;
  border: 3px solid black;
  padding: 10px;
  background: #E8E8E8;
  z-index:100;
}

.rssF1 {
 height: 50px;
 overflow: hidden;
 position: relative;
 border: red dotted 1px;
 z-index: -1;
}
.rssF1 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: -20;
 line-height: 50px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: rssF1 15s linear infinite;
 -webkit-animation: rssF1 15s linear infinite;
 animation: rssF1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rssF1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes rssF1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes rssF1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}






