html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
}

.buttonList {
  margin: auto;
  width: 100%;
  border: 3px solid blue;
  padding: 10px;
}

.RSSFeedList {
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.notificationList {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.searchBar {
  font-size: 24;
  text-align:center;
  position: absolute;
  top: 32%;
}

.welcomeBar {
  height: 60px;
}

.input-group {
  width: 60%;
  position: relative;
  top: 28%;
  margin: 10 auto;
}

.input-group-btn {
  bottom: 5px;
  vertical-align: bottom;
}

.settingsButton {
  float: right;
  position: fixed;
  bottom: 10;
  left: 20;
}

.settings {
  text-align: center;
}

.settingsPanel {
  position: absolute;
  top: 200px;
  margin: auto;
}

.rssF1 {
 height: 50px;
 overflow: hidden;
 position: relative;
 z-index: 10;
}
.rssF1 {
 position: absolute;
 width: 100%;
 height: 40px;
 margin: -20;
 line-height: 50px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: rssF1 13s linear infinite;
 -webkit-animation: rssF1 13s linear infinite;
 animation: rssF1 13s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rssF1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes rssF1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes rssF1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 27px;
}

.slider.round:before {
  border-radius: 50%;
}

.UISlider {
  float: left;
  position: fixed;
  bottom: 10;
  right: 24;
}

.ButtonListContainer {
  width: 60%;
  text-align: center;
  white-space: nowrap;
  margin: auto;
  top: 56%;
  position: absolute;
  left: 0;
  right: 0;
}

.NavButtonContainer {
  width: 97%;
  padding: 20px;
  white-space: nowrap;
  overflow-x: auto;
  margin: 10 auto;
}

.NavButton {
  margin: 9px;
  display: inline-block;
}

.RSSHolder {
  height: 61px;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.setPadding {
  margin: 15px;
}

.listenBox {
  height: 45px;
  width: 45px;
  float: right;
  position: fixed;
  bottom: 0;
  left: 0;
}

.logo {
  height: 61px;
  width: 140px;
  top: 61px;
  left: 0;
  z-index: 1;
}

.swick {
  background: url('assets/logo/swick_logo.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.rssF12 {
 height: 50px;
 overflow: hidden;
 position: relative;
 z-index: 10;
}
.rssF12 {
 position: absolute;
 width: 100%;
 height: 40px;
 margin: 10;
 line-height: 50px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: rssF1 17s linear infinite;
 -webkit-animation: rssF1 17s linear infinite;
 animation: rssF1 17s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rssF12 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes rssF12 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes rssF12 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#stage {
  margin: 1em auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rotatingImage {
  -webkit-animation: spin 4s linear infinite; 
  -moz-animation: spin 4s linear infinite; 
  animation: spin 4s linear infinite;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

.logoText {
  width: 80px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.AboutBTN {
  position: absolute;
  bottom: 10px;
  left: 48%;
}

.aboutP {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 95%;
}

.welcome-appear {
  opacity: 0.01;
}

.welcome-appear.welcome-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.marquee {
  overflow: hidden;
  text-align: left;
}
.marquee.marquee-speed-drowsy:before {
  animation-duration: 30s;
}
.marquee.marquee-speed-slow:before {
  animation-duration: 20s;
}
.marquee.marquee-speed-custom:before {
  animation-duration: inherit;
}
.marquee.marquee-speed-normal:before {
  animation-duration: 10s;
}
.marquee.marquee-speed-fast:before {
  animation-duration: 7s;
}
.marquee.marquee-speed-swift:before {
  animation-duration: 5s;
}
.marquee.marquee-speed-hyper:before {
  animation-duration: 2s;
}
@keyframes movement-smooth {
  from {
    transform: translateX(0%);
    left: 100%;
  }
  to {
    transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-steps20 {
  0% {
    transform: translateX(0%);
    left: 100%;
  }
  5%,
  9.99% {
    transform: translateX(-5%);
    left: 95%;
  }
  10%,
  14.99% {
    transform: translateX(-10%);
    left: 90%;
  }
  15%,
  19.99% {
    transform: translateX(-15%);
    left: 85%;
  }
  20%,
  24.99% {
    transform: translateX(-20%);
    left: 80%;
  }
  25%,
  29.99% {
    transform: translateX(-25%);
    left: 75%;
  }
  30%,
  34.99% {
    transform: translateX(-30%);
    left: 70%;
  }
  35%,
  39.99% {
    transform: translateX(-35%);
    left: 65%;
  }
  40%,
  44.99% {
    transform: translateX(-40%);
    left: 60%;
  }
  45%,
  49.99% {
    transform: translateX(-45%);
    left: 55%;
  }
  50%,
  54.99% {
    transform: translateX(-50%);
    left: 50%;
  }
  55%,
  59.99% {
    transform: translateX(-55%);
    left: 45%;
  }
  60%,
  64.99% {
    transform: translateX(-60%);
    left: 40%;
  }
  65%,
  69.99% {
    transform: translateX(-65%);
    left: 35%;
  }
  70%,
  74.99% {
    transform: translateX(-70%);
    left: 30%;
  }
  75%,
  79.99% {
    transform: translateX(-75%);
    left: 25%;
  }
  80%,
  84.99% {
    transform: translateX(-80%);
    left: 20%;
  }
  85%,
  89.99% {
    transform: translateX(-85%);
    left: 15%;
  }
  90%,
  94.99% {
    transform: translateX(-90%);
    left: 10%;
  }
  95%,
  99.99% {
    transform: translateX(-95%);
    left: 5%;
  }
  100% {
    transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-steps10 {
  0% {
    transform: translateX(0%);
    left: 100%;
  }
  10%,
  19.99% {
    transform: translateX(-10%);
    left: 90%;
  }
  20%,
  29.99% {
    transform: translateX(-20%);
    left: 80%;
  }
  30%,
  39.99% {
    transform: translateX(-30%);
    left: 70%;
  }
  40%,
  49.99% {
    transform: translateX(-40%);
    left: 60%;
  }
  50%,
  59.99% {
    transform: translateX(-50%);
    left: 50%;
  }
  60%,
  69.99% {
    transform: translateX(-60%);
    left: 40%;
  }
  70%,
  79.99% {
    transform: translateX(-70%);
    left: 30%;
  }
  80%,
  89.99% {
    transform: translateX(-80%);
    left: 20%;
  }
  90%,
  99.99% {
    transform: translateX(-90%);
    left: 10%;
  }
  100% {
    transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-steps5 {
  0%,
  19.99% {
    transform: translateX(0%);
    left: 100%;
  }
  20%,
  39.99% {
    transform: translateX(-20%);
    left: 80%;
  }
  40%,
  59.99% {
    transform: translateX(-40%);
    left: 60%;
  }
  60%,
  79.99% {
    transform: translateX(-60%);
    left: 40%;
  }
  80%,
  99.99% {
    transform: translateX(-80%);
    left: 20%;
  }
  100% {
    transform: translateX(-100%);
    left: 0%;
  }
}
.marquee.marquee-movement-smooth:before {
  animation-name: movement-smooth;
}
.marquee.marquee-movement-steps20:before {
  animation-name: movement-steps20;
}
.marquee.marquee-movement-steps10:before {
  animation-name: movement-steps10;
}
.marquee.marquee-movement-steps5:before {
  animation-name: movement-steps5;
}
.marquee.marquee-direction-left:before,
.marquee.marquee-direction-normal:before {
  animation-direction: normal;
}
.marquee.marquee-direction-alternate:before {
  animation-direction: alternate;
}
.marquee.marquee-direction-right:before,
.marquee.marquee-direction-reverse:before {
  animation-direction: reverse;
}
.marquee:before {
  content: attr(data-marquee);
  white-space: nowrap;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  left: 50%;
  animation: linear infinite;
}
.marquee:before {
  animation-duration: 10s;
}
.marquee:before {
  animation-name: movement-smooth;
}
.marquee:before {
  animation-direction: normal;
}
.marquee {
  overflow: hidden;
}
.marquee.marquee-speed-drowsy:before {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.marquee.marquee-speed-slow:before {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.marquee.marquee-speed-custom:before {
  -webkit-animation-duration: inherit;
          animation-duration: inherit;
}
.marquee.marquee-speed-normal:before {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.marquee.marquee-speed-fast:before {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.marquee.marquee-speed-swift:before {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.marquee.marquee-speed-hyper:before {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes movement-smooth {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-smooth {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@-webkit-keyframes movement-steps20 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  5%,
  9.99% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    left: 95%;
  }
  10%,
  14.99% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    left: 90%;
  }
  15%,
  19.99% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    left: 85%;
  }
  20%,
  24.99% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 80%;
  }
  25%,
  29.99% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    left: 75%;
  }
  30%,
  34.99% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    left: 70%;
  }
  35%,
  39.99% {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
    left: 65%;
  }
  40%,
  44.99% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    left: 60%;
  }
  45%,
  49.99% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
    left: 55%;
  }
  50%,
  54.99% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  55%,
  59.99% {
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
    left: 45%;
  }
  60%,
  64.99% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    left: 40%;
  }
  65%,
  69.99% {
    -webkit-transform: translateX(-65%);
            transform: translateX(-65%);
    left: 35%;
  }
  70%,
  74.99% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    left: 30%;
  }
  75%,
  79.99% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
    left: 25%;
  }
  80%,
  84.99% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    left: 20%;
  }
  85%,
  89.99% {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
    left: 15%;
  }
  90%,
  94.99% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    left: 10%;
  }
  95%,
  99.99% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
    left: 5%;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-steps20 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  5%,
  9.99% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    left: 95%;
  }
  10%,
  14.99% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    left: 90%;
  }
  15%,
  19.99% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
    left: 85%;
  }
  20%,
  24.99% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 80%;
  }
  25%,
  29.99% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    left: 75%;
  }
  30%,
  34.99% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    left: 70%;
  }
  35%,
  39.99% {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
    left: 65%;
  }
  40%,
  44.99% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    left: 60%;
  }
  45%,
  49.99% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
    left: 55%;
  }
  50%,
  54.99% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  55%,
  59.99% {
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
    left: 45%;
  }
  60%,
  64.99% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    left: 40%;
  }
  65%,
  69.99% {
    -webkit-transform: translateX(-65%);
            transform: translateX(-65%);
    left: 35%;
  }
  70%,
  74.99% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    left: 30%;
  }
  75%,
  79.99% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
    left: 25%;
  }
  80%,
  84.99% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    left: 20%;
  }
  85%,
  89.99% {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
    left: 15%;
  }
  90%,
  94.99% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    left: 10%;
  }
  95%,
  99.99% {
    -webkit-transform: translateX(-95%);
            transform: translateX(-95%);
    left: 5%;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@-webkit-keyframes movement-steps10 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  10%,
  19.99% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    left: 90%;
  }
  20%,
  29.99% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 80%;
  }
  30%,
  39.99% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    left: 70%;
  }
  40%,
  49.99% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    left: 60%;
  }
  50%,
  59.99% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  60%,
  69.99% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    left: 40%;
  }
  70%,
  79.99% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    left: 30%;
  }
  80%,
  89.99% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    left: 20%;
  }
  90%,
  99.99% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    left: 10%;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-steps10 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  10%,
  19.99% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    left: 90%;
  }
  20%,
  29.99% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 80%;
  }
  30%,
  39.99% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    left: 70%;
  }
  40%,
  49.99% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    left: 60%;
  }
  50%,
  59.99% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  60%,
  69.99% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    left: 40%;
  }
  70%,
  79.99% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    left: 30%;
  }
  80%,
  89.99% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    left: 20%;
  }
  90%,
  99.99% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    left: 10%;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@-webkit-keyframes movement-steps5 {
  0%,
  19.99% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  20%,
  39.99% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 80%;
  }
  40%,
  59.99% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    left: 60%;
  }
  60%,
  79.99% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    left: 40%;
  }
  80%,
  99.99% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    left: 20%;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
@keyframes movement-steps5 {
  0%,
  19.99% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 100%;
  }
  20%,
  39.99% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 80%;
  }
  40%,
  59.99% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    left: 60%;
  }
  60%,
  79.99% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    left: 40%;
  }
  80%,
  99.99% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    left: 20%;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0%;
  }
}
.marquee.marquee-movement-smooth:before {
  -webkit-animation-name: movement-smooth;
          animation-name: movement-smooth;
}
.marquee.marquee-movement-steps20:before {
  -webkit-animation-name: movement-steps20;
          animation-name: movement-steps20;
}
.marquee.marquee-movement-steps10:before {
  -webkit-animation-name: movement-steps10;
          animation-name: movement-steps10;
}
.marquee.marquee-movement-steps5:before {
  -webkit-animation-name: movement-steps5;
          animation-name: movement-steps5;
}
.marquee.marquee-direction-left:before,
.marquee.marquee-direction-normal:before {
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.marquee.marquee-direction-alternate:before {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.marquee.marquee-direction-right:before,
.marquee.marquee-direction-reverse:before {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.marquee:before {
  content: attr(data-marquee);
  white-space: nowrap;
  position: relative;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  left: 50%;
  -webkit-animation: linear infinite;
          animation: linear infinite;
}
.marquee:before {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.marquee:before {
  -webkit-animation-name: movement-smooth;
          animation-name: movement-smooth;
}
.marquee:before {
  -webkit-animation-direction: normal;
          animation-direction: normal;
}